.currency {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .currency-box {
        display: flex;
        width: 100%;

        .currency-info {
            display: flex;
            flex-direction: column;
            flex: 1;

            .currency-form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 30%;

                .currency-date-box,
                .currency-base-box {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    input,
                    select {
                        padding: 10px 8px;
                    }
                }

                .currency-submit {
                    padding: 10px;
                    width: fit-content;
                }
            }
        }

        .currency-exchange {
            flex: 1;
        }
    }
}