.page {
    background-color: #fff;
    height: 95%;
    border-radius: 8px;
    display: flex;

    .page-box {
        margin: 20px;
        width: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, and Opera */
        }
    }
}